.nav-menu {
    text-align: right;
  }
  .nav-spacing {
    margin: 0 0 0 10px;
  }
  .image-link {
    text-decoration: none;
  }
  .header {
    text-align: center;
    margin: 0 0 80px;
  }
  .book-title {
    text-align: center;
  }
  .book-report {
    width: 500px; 
    margin: 20px auto; 
    padding: 30px;
    background-color: #fafafa;
  }
  .whale-img {
    display: block; 
    margin: 0 auto;
  }
  .book-img {
    float: left; 
    display: block; 
    margin: 0 auto; 
    margin-right: 40px;
  }
  .blockquote {
    font-style: italic; 
    font-size: 20px;
  }
  .first-line {
    font-style: normal; 
    font-size: 24px; 
    font-weight: bold;
    color: red;
  }
  